In [1]:
import pandas as pd 

import numpy as np
import matplotlib as plt

In [11]:
df = pd.read_csv('mercedesbenz.csv')

In [4]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## CSV

In [13]:
from io import StringIO, BytesIO

In [38]:
data = ('col1, col2, col3\n'
          'x, y, 1\n'
           'a ,b ,2\n'
            'c,d,3')

In [39]:
type(data)

str

In [40]:
StringIO()

In [41]:
print(data)

col1, col2, col3
x, y, 1
a ,b ,2
c,d,3

In [42]:
pd.read_csv(StringIO(data))

  col1  col2   col3
0    x     y      1
1   a     b       2
2    c     d      3

In [45]:
df = pd.read_csv(StringIO(data), usecols=['col1','col3'])

ValueError: Usecols do not match columns, columns expected but not found: ['col3']

In [44]:
df

  col1
0    x
1   a
2    1

In [47]:
df.to_csv('Test.csv')

In [56]:
data =('a,b,c,d\n'
      '1,2,3,4\n'
      '5,6,7,8\n'
      '8,9,10,12')

In [57]:
print(data)

a,b,c,d
1,2,3,4
5,6,7,8
8,9,10,12

In [58]:
df = pd.read_csv(StringIO(data), dtype = object)

In [59]:
df

   a  b   c   d
0  1  2   3   4
1  5  6   7   8
2  8  9  10  12

In [60]:
df['a']

0    1
1    5
2    8
Name: a, dtype: object

In [61]:
df['a']

0    1
1    5
2    8
Name: a, dtype: object

In [64]:
df = pd.read_csv(StringIO(data), dtype={'b': int, 'c' : np.float, 'a': 'Int64'})

In [65]:
df

   a  b     c   d
0  1  2   3.0   4
1  5  6   7.0   8
2  8  9  10.0  12